.Section {
  width: 1440px;
  height: 928px;

  margin-right: auto;
  margin-left: auto;
  padding-top: 179px;
  padding-left: 147px;
  padding-right: 147px;

  background-repeat: no-repeat;
  background-position: left 714px top 21px, left 29px top 23px,
    left 763px top 516px, left 762px top 558px, right 0px top 0px,
    right 63px top 101px;
  background-image: url('../../images/yellow-ellipse.png'),
    url('../../images/yellow_lefy.png'), url('../../images/yellow_right.png'),
    url('../../images/pink-right.png'), url('../../images/map.png'),
    url('../../images/clouds.png');
}

.FormHeading {
  margin-bottom: 30px;
  /* font-family: ; */
  font-size: 40px;
  line-height: 1.3;
  color: #3e3e3e;
}

.Footer {
  width: 1440px;
  height: 200px;

  margin-right: auto;
  margin-left: auto;
  padding: 79px 343px;
  background-color: #fafafa;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-repeat: no-repeat;
  background-position: left 15px bottom 0px, right 127px bottom 103px,
    left 1356px bottom 28px;
  background-image: url('../../images/pink-left.png'),
    url('../../images/green-right.png'), url('../../images/yellow_lefy.png');
}
